# Ignore large datasets (don't push to GitHub)
ml/data/
ml/models/
mobile/epilog_app/build/

# Ignore cache files
__pycache__/
*.pyc
.vscode/
.idea/

# Ignore virtual environments
venv/
env/

# Ignore OS files
.DS_Store
Thumbs.db